Grupperum Sol/GruppeRumSol/Grupperum WebSite Klient/Service References/GrumService/GrumService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GrumService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/WcfGrumService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/WcfGrumService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/WcfGrumService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GrupperumServer.ModelLayer" />
      <xsd:import schemaLocation="http://localhost:8733/WcfGrumService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGrumService_getClassById_InputMessage">
    <wsdl:part name="parameters" element="tns:getClassById" />
  </wsdl:message>
  <wsdl:message name="IGrumService_getClassById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getClassByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IGrumService_CreateGroupRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroupRoom" />
  </wsdl:message>
  <wsdl:message name="IGrumService_CreateGroupRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroupRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IGrumService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IGrumService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IGrumService_CreateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroup" />
  </wsdl:message>
  <wsdl:message name="IGrumService_CreateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="IGrumService">
    <wsdl:operation name="getClassById">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrumService/getClassById" message="tns:IGrumService_getClassById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrumService/getClassByIdResponse" message="tns:IGrumService_getClassById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroupRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrumService/CreateGroupRoom" message="tns:IGrumService_CreateGroupRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrumService/CreateGroupRoomResponse" message="tns:IGrumService_CreateGroupRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrumService/Authenticate" message="tns:IGrumService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrumService/AuthenticateResponse" message="tns:IGrumService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrumService/CreateGroup" message="tns:IGrumService_CreateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrumService/CreateGroupResponse" message="tns:IGrumService_CreateGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGrumService" type="tns:IGrumService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getClassById">
      <soap:operation soapAction="http://tempuri.org/IGrumService/getClassById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroupRoom">
      <soap:operation soapAction="http://tempuri.org/IGrumService/CreateGroupRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IGrumService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap:operation soapAction="http://tempuri.org/IGrumService/CreateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GrumService">
    <wsdl:port name="BasicHttpBinding_IGrumService" binding="tns:BasicHttpBinding_IGrumService">
      <soap:address location="http://localhost:8733/WcfGrumService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>