Grupperum Sol/GruppeRumSol/Grupperum WebSite Klient/Service References/GrumService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/WcfGrumService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GrupperumServer.ModelLayer" />
  <xs:import schemaLocation="http://localhost:8733/WcfGrumService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getClassById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClassByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GrupperumServer.ModelLayer" minOccurs="0" name="getClassByIdResult" nillable="true" type="q1:Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroupRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whiteboard" type="xs:boolean" />
        <xs:element minOccurs="0" name="monitor" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroupRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGroupRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" type="xs:int" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="studentId" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whiteboard" type="xs:boolean" />
        <xs:element minOccurs="0" name="monitor" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGroupRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestClassRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="groupSize" type="xs:int" />
        <xs:element minOccurs="0" name="whiteboard" type="xs:boolean" />
        <xs:element minOccurs="0" name="monitor" type="xs:boolean" />
        <xs:element minOccurs="0" name="projector" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestClassRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestClassRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassRoomByAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whiteboard" type="xs:boolean" />
        <xs:element minOccurs="0" name="monitor" type="xs:boolean" />
        <xs:element minOccurs="0" name="projector" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassRoomByAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GrupperumServer.ModelLayer" minOccurs="0" name="GetClassRoomByAttributesResult" nillable="true" type="q3:ArrayOfClassRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GrupperumServer.ModelLayer" minOccurs="0" name="GetGroupRoomsResult" nillable="true" type="q4:ArrayOfGroupRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasGroupRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HasGroupRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasGroupRoomsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupRoomList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="grStrl" type="xs:int" />
        <xs:element minOccurs="0" name="whiteboard" type="xs:boolean" />
        <xs:element minOccurs="0" name="monitor" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupRoomListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GrupperumServer.ModelLayer" minOccurs="0" name="GetGroupRoomListResult" nillable="true" type="q5:ArrayOfGroupRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>